.about{
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 100px;
    margin-top: 75px;
}

h1{
    color: var(--blue);
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Tajawal', sans-serif;
}

.p {
    color:var(--dark-gray);
    width: 430px;
    font-weight: 500;
    font-size: medium;

}

@media screen and (max-width: 910px){

  .about{
    gap: 30px;
  }
h1{
    font-size:1.5rem
}
.p{
    width: 350px; 
}
img{
    max-width: 300px;
}
}

@media screen and (max-width: 750px){

    .about{
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-bottom: 50px;
    }

  .p{
      width: 300px; 
  }
  img{
      max-width: 200px;
  }
}