<div class="box">

    <div class="main-btns">

        <button> Add New Sector</button>
        <button> Add New Startup</button>
        <button class="Req-btn"> Requests </button>
            </div>
        
            <!-- <form class="new-sec">

                <div class="field">
                    <label for="sec"> Sector Name</label>
                    <input name="sec" id="sec" type="text" required>

                    <button class="form-btn"> Add</button></div>
            </form> -->

           <!-- <form class="new-st" #form="ngForm" (ngSubmit)="add(form.value)">

                <div>
                <div class="field">

                    <label for="companyName"> Startup Name</label>
                    <input #comName="ngModel"                
                     [(ngModel)]="startupsData.companyName" name="companyName" id="companyName" type="text" required>
                </div>

                <div class="field">
                    <label for="sector"> Sector Name</label>
                    <input #secName="ngModel" [(ngModel)]="startupsData.sector" name="sector" id="sector" type="text" required>
                </div>

                <div class="field">
                    <label for="phone"> Phone Number</label>
                    <input #phone="ngModel" [(ngModel)]="startupsData.phone" name="phone" id="phone" type="text" required>
                </div>

                <div class="field">
                    <label for="email"> Email</label>
                    <input #email="ngModel" [(ngModel)]="startupsData.email" name="email" id="email" type="email" required>
                </div>

                <div class="field">
                    <label for="webSite"> Website</label>
                    <input #webSite="ngModel" [(ngModel)]="startupsData.webSite" name="webSite" id="webSite" type="text" required>
                </div>

                <div class="field">
                    <label for="logo"> Upload Logo</label>
                    <input accept="image/*" (change)="upload($event)" name="logo" id="logo" type="file" required>
                </div>
            </div>
                <button class="form-btn"> Add</button>

            </form> -->

            <!-- <div class="req">

                <form>
                <div class="field">

                    <label for="name"> Startup Name</label>
                    <input name="name" id="name" type="text" required>
                </div>

                <div class="field">
                    <label for="sec-n"> Sector Name</label>
                    <input name="sec-n" id="sec-n" type="text" required>
                </div>

                <div class="field">
                    <label for="phone"> Phone Number</label>
                    <input name="phone" id="phone" type="text" required>
                </div>

                <div class="field">
                    <label for="email"> Email</label>
                    <input name="email" id="email" type="email" required>
                </div>

                <div class="field">
                    <label for="website"> Website</label>
                    <input name="website" id="website" type="text" required>
                </div>

                <div class="field">
                    <label for="logo"> Upload Logo</label>
                    <input name="logo" id="logo" type="file" required>
                </div>
            </form>
            <div class="y-n">
                <button class="form-btn"> Accept</button>
                <button class="form-btn"> Delete</button>
            </div>

            </div> -->

            <!-- <div class="none">
                <h3> Choose a button to Edit</h3>
                <hr>
            </div> -->
</div>