<div class="box">

    <div class="main-btns">

        <button> Add New Sector</button>
        <button> Add New Startup</button>
        <button> Requests </button>
            </div>
        
            <!-- <form class="new-sec">

                <div class="field">
                    <label for="sec"> Sector Name</label>
                    <input name="sec" id="sec" type="text" required></div>

                    <button class="form-btn"> Add</button>
            </form> -->

           <div class="new-st">

                <form>
                <div class="field">

                    <label for="name"> Startup Name</label>
                    <input name="name" id="name" type="text" required>
                </div>

                <div class="field">
                    <label for="sec-n"> Sector Name</label>
                    <input name="sec-n" id="sec-n" type="text" required>
                </div>

                <div class="field">
                    <label for="phone"> Phone Number</label>
                    <input name="phone" id="phone" type="text" required>
                </div>

                <div class="field">
                    <label for="email"> Email</label>
                    <input name="email" id="email" type="email" required>
                </div>

                <div class="field">
                    <label for="website"> Website</label>
                    <input name="website" id="website" type="text" required>
                </div>

                <div class="field">
                    <label for="logo"> Upload Logo</label>
                    <input name="logo" id="logo" type="file" required>
                </div>
            </form>
                <button class="form-btn"> Add</button>

            </div>

            <!-- <div class="req">

                <form>
                <div class="field">

                    <label for="name"> Startup Name</label>
                    <input name="name" id="name" type="text" required>
                </div>

                <div class="field">
                    <label for="sec-n"> Sector Name</label>
                    <input name="sec-n" id="sec-n" type="text" required>
                </div>

                <div class="field">
                    <label for="phone"> Phone Number</label>
                    <input name="phone" id="phone" type="text" required>
                </div>

                <div class="field">
                    <label for="email"> Email</label>
                    <input name="email" id="email" type="email" required>
                </div>

                <div class="field">
                    <label for="website"> Website</label>
                    <input name="website" id="website" type="text" required>
                </div>

                <div class="field">
                    <label for="logo"> Upload Logo</label>
                    <input name="logo" id="logo" type="file" required>
                </div>
            </form>
            <div class="y-n">
                <button class="form-btn"> Accept</button>
                <button class="form-btn"> Delete</button>
            </div>

            </div> -->

</div>