*{
    color: var(--dark-gray);
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 80vw;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logos{
/* border: 0.5px solid var(--dark-gray); */
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.30);
background-color: var(--white);
border-radius: 7px;
width: 40vw;
height: 60vh;
display: grid;
justify-content: center;
align-items: center;
grid-template-columns: repeat(4,1fr) ;
grid-template-rows: repeat(autofill, 1fr) ;
overflow: auto;
padding: 20px;
gap: 45px;

}

.logos img{
  background-color: var(--white);
    max-height: 75px;
    max-width: 75px;
    
}

.data{
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.30);
border-radius: 7px;
background-color: var(--white);
height: 350px;
width: 35vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.allData{
background-color: var(--white);
display: flex;
flex-direction: column;
justify-content: center;
justify-items: center;
gap: 35px;
}


hr{
  border: none;
  width: 30vw;
  height: 2px;
  background: #cecece;
}


.basic{
  background-color: var(--white);
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 35px;
}

.bigLogo{
  background-color: var(--white);
  max-height: 120px;
  max-width: 120px;
}

.names{
  background-color: var(--white);
  padding-top: 15px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
}

.sec{
  background-color: var(--white);
display:flex;
justify-content: baseline;
align-items: baseline;
gap: 5px;

}

.h3{
  background-color: var(--white);
  color: var(--blue);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'tajawal', sans-serif;
}

a{
  background-color: var(--white);
  font-family: 'tajawal', sans-serif;
  color: var(--dark-gray);
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
}

.details{
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 7px;
}


.info{
  background-color: var(--white);
  display: flex;
  width: 30vw;
  gap: 10px;
}

#icons{
  background-color: var(--white);
  color: var(--blue);
}
p{
  background-color: var(--white);
}

@media screen and (max-width: 1155px){

  .logos{
    grid-template-columns: repeat(3, 1fr);
  }
.none{
  width: 30vw;
  /* border: 1px solid red; */
}
.none hr{
  width: 30vw;
}
.data{
  
  padding: 25px;}
} 

@media screen and (max-width: 995px){

  .container{
    width: 80vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
  }

.logos{
  grid-template-columns: repeat(3, 1fr);
  width: 75vw;
  height: 35vh;
}
.none{
  max-width: 50vw;
}

.data{
  /* border: 1px solid red; */
  width: 75vw;
  height: 25vh;
  align-items:center;
  padding: 10px;

}

.allData{
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.basic{
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap: 7px;
}

.names{
  background-color: var(--white);
  /* padding-top: 15px; */
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  
}

.allData hr{
width: 2px;
height: 20vh;
}


  /* .logos{
    grid-template-columns: repeat(1, 1fr);
  }
  .data{
    gap: 10px;
  }
  .data,.basic{
    flex-direction: column;
  }
  .basic{
    gap: 5px;
  }

  .info p,a{
    font-size: 1rem;
    width: auto;
  } */
}