<div class="dashboard">

    <div class="sectors" >
        <button (click)="getAll($event)"> All Sectors</button>

<button *ngFor="let sector of sectorsName" (click)="getValue($event)">{{sector.SecName}}</button>
    </div>

    <div class="container">
        

         <div class="logos">
            <div  *ngFor="let startup of startupsInfo" (click)="getData(startup.uid)">
                <img alt="logo" src="{{startup.logo}}">
            </div>
        </div>

        <form class="data" *ngIf="startupsData" #form="ngForm" (ngSubmit)="Update(form.value)">
            <div class="allData">
                <div class="basic">
                <img alt="logo" *ngIf="startupsData.logo" [class.hide]="hide" src="{{startupsData.logo}}" class="bigLogo">
                <img alt="logo" *ngIf="imgURL" src="{{imgURL}}" class="bigLogo">
    
                 <div class="names" >
    
                    <div class="field">
                        <label for="companyName"> Name</label>
                        <input [(ngModel)]="startupsData.companyName" name="companyName" id="companyName" type="text" required></div>
    
                   <div class="field">
                    <label for="sec"> Sector</label>
                    <input [(ngModel)]="startupsData.sector" name="secr" id="sec" type="text" required></div>
                
                 </div> 
                </div>
                <hr>
                <div class="details"> 

                    <div class="field">
                        <label for="phone"> Phone Number</label>
                        <input [(ngModel)]="startupsData.phone" name="phone" id="phone" type="text" required></div>

                        <div class="field">
                            <label for="email"> Email</label>
                            <input [(ngModel)]="startupsData.email" name="email" id="email" type="email" required></div>

                    <div class="field">
                        <label for="webSite"> Website</label>
                        <input [(ngModel)]="startupsData.webSite" name="webSite" id="webSite" type="text" required></div>

                        <div class="field">
                            <label for="upload"> Upload Logo</label>
                            <input name="upload" accept="image/*" (change)="upload($event)" id="upload" type="file" required></div>
                </div>
                
        </div>
        <div class="btn-UD">
            <button class="form-btn" type="submit"> Update</button>
            <button class="form-btn" > Delete</button>
        </div>
    
</form>

</div>
<br> <br>
<app-add-new></app-add-new>
<br>
<button (click)="logOut()" class="logout"> Log out </button>