<div class="dashboard">

    <div class="sectors">

<button> Sector 1</button>
<button> Sector 2</button>
<button> Sector 3</button>
<button> Sector 4</button>
<button> Sector 5</button>
    </div>

    <div class="container">
        

         <div class="logos">
            <img alt="logo1"> <img alt="logo"> <img alt="logo"> <img alt="logo"> <img alt="logo1"><img alt="logo1"><img alt="logo1"><img alt="logo1"><img alt="logo1"><img alt="logo1"><img alt="logo1">
        </div>

        <div class="data">
            <div class="allData">
                <div class="basic">
                <img alt="logo1" class="bigLogo">
    
                 <div class="names">
    
                    <div class="field">
                        <label for="name"> Company Name</label>
                        <input name="name" id="name" type="text" required></div>
    
                   <div class="field">
                    <label for="sector"> Sector</label>
                    <input name="sector" id="sector" type="text" required></div>
                
                 </div> 
                </div>
                <hr>
                <form class="details"> 

                    <div class="field">
                        <label for="phone"> Phone Number</label>
                        <input name="phone" id="phone" type="text" required></div>

                        <div class="field">
                            <label for="email"> Email</label>
                            <input name="email" id="email" type="email" required></div>

                    <div class="field">
                        <label for="website"> Website</label>
                        <input name="website" id="website" type="text" required></div>

                        <div class="field">
                            <label for="upload"> Upload Logo</label>
                            <input name="upload" id="upload" type="file" required></div>
                </form>
                
        </div>
        <div class="btn-UD">
            <button class="form-btn"> Update</button>
            <button class="form-btn"> Delete</button>
        </div>
    
</div>

</div>
