<div class="dashboard">

    <div class="sectors" >
        <button (click)="getAll($event)"> All Sectors</button>

<button *ngFor="let sector of sectorsName" (click)="getValue($event)">{{sector.SecName}}</button>
    </div>

    <div class="container">
        

         <div class="logos">
            <div  *ngFor="let startup of startupsInfo" (click)="getData(startup.uid)">
                <img alt="logo" src="{{startup.logo}}">
            </div>
        </div>

        <div class="data" *ngIf="startupsData">
            <div class="allData">
                <div class="basic">
                <img alt="logo" src="{{startupsData.logo}}" class="bigLogo">
    
                 <div class="names">
    
                    <div class="field">
                        <label for="name"> Company Name</label>
                        <input name="name" id="name" type="text" required></div>
    
                   <div class="field">
                    <label for="sector"> Sector</label>
                    <input name="sector" id="sector" type="text" required></div>
                
                 </div> 
                </div>
                <hr>
                <form class="details"> 

                    <div class="field">
                        <label for="phone"> Phone Number</label>
                        <input name="phone" id="phone" type="text" required></div>

                        <div class="field">
                            <label for="email"> Email</label>
                            <input name="email" id="email" type="email" required></div>

                    <div class="field">
                        <label for="website"> Website</label>
                        <input name="website" id="website" type="text" required></div>

                        <div class="field">
                            <label for="upload"> Upload Logo</label>
                            <input name="upload" id="upload" type="file" required></div>
                </form>
                
        </div>
        <div class="btn-UD">
            <button class="form-btn"> Update</button>
            <button class="form-btn"> Delete</button>
        </div>
    
</div>

</div>
<br> <br>
<app-add-new></app-add-new>

<button (click)="logOut()" class="logout"> Log out </button>