.landing{
    display: flex;
    /* padding: 30px; */
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 150px;
    margin-top: 100px;
}

h1{
    color: var(--blue);
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Tajawal', sans-serif;
}

.p {
    color:var(--dark-gray);
    width: 430px;
    font-weight: 500;
    font-size: medium;

}

/* .sectors{
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
    justify-content: flex-start;
    width: 200px;
    gap: 20px;
    
} */

@media screen and (max-width: 1100px){

    .landing{
      gap: 40px;
    }
    .p{
        width: 400px;
    }
    img{
        max-width: 400px;
    }
    
  }
  
  
  @media screen and (max-width: 995px){

    .landing{
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
    }

  .p{
      width: 50vw; 
  }

  img{
    max-width: 50vw;
}


  }
  
  
  
  /* @media screen and (max-width: 860px){


    .landing{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;
    }

  .p{
      width: 300px; 
  }
  img{
    max-width: 35vw;
}
  } */