<div class="contact">
    <div class="form">
        <form>
            <div class="field">
            <label for="name"> Name</label>
            <input name="name" id="name" type="text" required></div>

            <div class="field">
            <label for="email"> Email</label>
            <input name="email" id="email" type="email" required></div>

            <div class="field">
            <label for="phone"> Phone Number</label>
            <input name="phone" id="phone" type="tel" required></div>

            <div class="field">
            <label for="sub"> Subject</label>
            <textarea name="sub" id="sub" rows="3" cols="25"></textarea></div>

            <div class="btn">
            <button type="submit"> Submit</button>
            <button type="reset"> Reset</button>
            </div>

        </form>
    </div>
     <div class="img">  <img src="/assets/Images/Contact.png"> </div> 
    </div>
