.box{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    gap: 20px;
}


h3{
    color: var(--blue);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'tajawal', sans-serif;
}

.form{
    /* background-color: white; */
    border-radius: 7px;
    width: 700px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.30); 
}
.new-st{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 25px;
}
.field{
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 150px;
    
}

label{
    /* background-color: white; */
    color: var(--blue);
    font-weight: 700;
}

input{
    background-color: white;
    height: 25px;
    width: 250px;
    outline: none;
    border: 0;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.30);
}

button{
    width: 75px;
    color: var(--white);
    font-weight: 500;
    background-color: var(--blue);
    border: 0;
    padding: 10px;
    margin-left: 20px;
    border-radius: 7px;
}

@media screen and (max-width: 750px){

    .title{
        width: 500px;  
    }
.form{
    width: 500px;
    height: 55vh;
    /* gap: 10px; */
  }

.field{
    justify-content: space-between;
    gap: 50px;
    }
    input{
        width: 150px;
    }
}
@media screen and (max-width: 625px){
    .title{
        flex-direction: column;
        width: 75vw;
        justify-content: center;
        align-items: center;
    }
.form{
    width: 400px;
    /* gap: 10px; */
  }

.field{
    justify-content: space-between;
    gap: 30px;
    }

    input{
        width: 150px;
    }
}