<div class="box">
    <div class="title">
        <h3>Send a request to add new startup</h3>
        <button type="submit"> Send</button>
    </div>

    <div class="form">
        <form>

            <div class="field">
            <label for="name"> Startup Commercial Name</label>
            <input name="name" id="name" type="text" required></div>

            
            <div class="field">
                <label for="sector"> Startup Sector</label>
                <input name="sector" id="sector" type="text" required></div>


            <div class="field">
            <label for="phone"> Phone Number</label>
            <input name="phone" id="phone" type="tel" required></div>

            <div class="field">
            <label for="email"> Email</label>
            <input name="email" id="email" type="email" required></div>

            <div class="field">
            <label for="address"> Website</label>
            <input name="address" id="address" type="text" required></div>

            <div class="field">
            <label for="upload"> Upload Logo</label>
            <input name="upload" id="upload" type="file" required></div>

        </form>
    </div>
</div>
