<div class="faq">

    <div class="text">

        <div class="QS">
            <h1>Questions 1</h1>
            <p class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi nulla placeat recusandae quidem aut.</p>
        </div>

        <div class="QS">
            <h1>Questions 2</h1>
            <p class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi nulla placeat recusandae quidem aut.</p>
        </div>

        <div class="QS">
            <h1>Questions 3</h1>
            <p class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi nulla placeat recusandae quidem aut.</p>
        </div>

    </div>

    <div class="img">
        <img src="/assets/Images/FAQ.png">
    </div>
    
</div>
