<div class="faq">

    <div class="text">

        <div class="QS">
            <h1>How can I add my startup?</h1>
            <p class="p">Scroll down in the home page, then add your startup data and upload logo. the admin will review all requests.</p>
        </div>

        <div class="QS">
            <h1>Can I add new sector? </h1>
            <p class="p">Only admin allows to add new sectors, but you can send a request to add new startup even if the sector is not exist.
            </p>
        </div>

        <div class="QS">
            <h1> To add an extra information</h1>
            <p class="p"> Feel free to contact with us by clicking on contact button in the header to suggest any improvements.</p>
        </div>

    </div>

    <div class="img">
        <img src="/assets/Images/FAQ.png">
    </div>
    
</div>
